<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Permission -->
    <uses-feature android:name="android.hardware.camera.ar" />
    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sasindai"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <service
            android:name=".service.MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <activity
            android:name=".KonfirmasiPesananActivity"
            android:exported="false" />
        <activity
            android:name=".DetailRilisMediaActivity"
            android:exported="false" />
        <activity
            android:name=".DetailPesananActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".PilihMetodePembayaranActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.ar.core"
            android:value="optional" />

        <activity
            android:name=".SceneActivity"
            android:exported="false" />
        <activity
            android:name=".ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".TransaksiActivity"
            android:exported="false" />
        <activity
            android:name=".TeleponActivity"
            android:exported="false" />
        <activity
            android:name=".AlamatActivity"
            android:exported="false" />
        <activity
            android:name=".DetailPemesananActivity"
            android:exported="false" />
        <activity
            android:name=".KeranjangActivity"
            android:exported="false" />
        <activity
            android:name=".KaPasaranHostActivity"
            android:exported="false" />
        <activity
            android:name=".DetailProdukActivity"
            android:exported="true" />
        <activity
            android:name=".AuthHostActivity"
            android:exported="true" />
        <activity
            android:name=".OnboardingHostActivity"
            android:exported="false" />
        <activity
            android:name=".MainHostActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>